<div id="sidebar" class="sidebar flex-shrink-0 pe-0 ps-0 py-0 col border-end">
    <ul class="list-unstyled ps-0">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="#">Agendamento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="#">Gate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="#">Pátio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="#">Návio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-collapse-btn btn text-dark d-inline-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#gestor-collapse" role="button" aria-haspopup="true" aria-expanded="false">Gestor</a>
            <div class="collapse ps-4" id="gestor-collapse">
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none text-black" href="#">Transportadoras</a></li>
                    <li><a class="text-decoration-none text-black" href="#">Clientes</a></li>
                    <li><a class="text-decoration-none text-black" href="#">Portos</a></li>
                    <li><a class="text-decoration-none text-black" href="#">Viagens</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-collapse-btn btn text-dark d-inline-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#config-collapse" role="button" aria-haspopup="true" aria-expanded="false">Configurações</a>
            <div class="collapse ps-4" id="config-collapse">
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none text-black" href="#">Veiculos de Transporte</a></li>
                    <li><a class="text-decoration-none text-black" href="#">Tipos de Frete</a</li>
                    <li><div class="dropdown-divider"></div></li>
                    <li><a class="text-decoration-none text-black" href="#">Tipos de Containeres</a></li>
                    <li><a class="text-decoration-none text-black" href="#">Status de Containeres</a></li>
                    <li><div class="dropdown-divider"></div></li>
                    <li><a class="text-decoration-none text-black" href="#">Tipos de Envio</a></li>
                    <li><div class="dropdown-divider"></div></li>
                    <li><a class="text-decoration-none text-black" href="#">Usuários</a></li>
                    <li><div class="dropdown-divider"></div></li>
                    <li><a class="text-decoration-none text-black" href="#">Status de Viagens</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
        </li>
    </ul>
</div>
