html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body{
    min-height: 100vh;
    background-color: #E8F1F2;
}

footer{
    height: 40px;
    padding-bottom: 37px;
}

.content {
    margin: 0px;
    min-height: calc(100vh - 97px);
}

#sidebar{
    max-width: 200px;
}